<%
value_attr = proc do |value, is_selected_fn|
	attrs = "value='#{value}'"
	value_is_selected = is_selected_fn[value]
	attrs << " checked='checked'" if value_is_selected
	attrs.html_safe
end

value_ilang = proc do |value|
	is_selected_fn = proc do |val|
		pieces = val.sub('iso', 'iso15919').split('-')

		mAX_LANGS = 3 # FIXME: read num of languages somewhere

		if val == 'any'
			@query[:ilanguages].count > 2
		elsif @query[:ilanguages].one?
			if val == 'san' || val == 'other'
				@query[:ilanguages].first == val
			else
				# FIXME: this matches also 'san'
				pieces.first == @query[:ilanguages].first &&
				pieces.last.to_sym == @query[:itransliteration]
			end
		elsif @query[:ilanguages].count > 1 && @query[:ilanguages].count < mAX_LANGS
			@query[:ilanguages].include?(val)
		end
	end

	value_attr[value, is_selected_fn]
end

value_where = proc do |value|
	is_selected_fn = proc { |val| @query[:where] == val.split('-') }

	value_attr[value, is_selected_fn]
end

value_how = proc do |value|
	is_selected_fn = proc { |val| @query[:how].include?(val) }

	value_attr[value, is_selected_fn]
end
%>
<form action="/search" method="GET">
	<div id="query">
		<label for="q">Query:</label>
		<input type="text" name="q" id="q" value="<%= @query[:term] %>" />
	</div>


	<input type="submit"/>

	<fieldset id="dictionaries">
		<legend>Dictionaries</legend>

		<input type="checkbox" name="dict" value="all" id="dict-all" checked="checked"/><label for="dict-all">All</label>
		<input type="checkbox" name="dict" value="monier" id="dict-monier" disabled="disabled" checked="checked"/><label for="dict-monier">monier</label>
		<input type="checkbox" name="dict" value="pwg" id="dict-pwg" disabled="disabled" checked="checked"/><label for="dict-pwg">pwg</label>
	</fieldset>

	<fieldset id="input-language">
		<legend>Input language</legend>

		<div>
			<input type="radio" name="ilang" id="lan-any" <%= value_ilang['any'] %>/><label for="lan-any">Sanskrit (SLP1) or any other language</label>
		</div>

		<div>
			<input type="radio" name="ilang" id="lan-san" <%= value_ilang['san'] %>/><label for="lan-san">Sanskrit (autodetect input script)</label>
			<input type="radio" name="ilang" id="lan-san-slp1" <%= value_ilang['san-slp1'] %>/><label for="lan-san-slp1">SLP1</label>
			<input type="radio" name="ilang" id="lan-san-hk" <%= value_ilang['san-hk'] %>/><label for="lan-san-hk">Harvard-Kyoto</label>
			<input type="radio" name="ilang" id="lan-san-iso" <%= value_ilang['san-iso'] %>/><label for="lan-san-iso">ISO 15919</label>
			<input type="radio" name="ilang" id="lan-san-devanagari" <%= value_ilang['san-devanagari'] %>/><label for="lan-san-devanagari">Devanagari</label>
		</div>

		<div>
			<input type="radio" name="ilang" id="lan-other" <%= value_ilang['other'] %>/><label for="lan-other">other languages</label>
			<input type="radio" name="ilang" id="lan-eng" <%= value_ilang['eng'] %>/><label for="lan-eng">English</label>
			<input type="radio" name="ilang" id="lan-deu" <%= value_ilang['deu'] %>/><label for="lan-deu">German</label>
		</div>
	</fieldset>

	<fieldset id="where-how">
		<legend>Where and how to search</legend>

		<div>
			<input type="radio" name="where" id="where-both" <%= value_where['lemma-def'] %>/><label for="where-both">both lemmas and definitions</label>
			<input type="radio" name="where" id="where-lemma" <%= value_where['lemma'] %>/><label for="where-lemma">only lemmas</label>
			<input type="radio" name="where" id="where-def" <%= value_where['def'] %>/><label for="where-def">only definitions</label>
		</div>

		<div>
			<input type="checkbox" name="how" id="how-exact" <%= value_how['exact'] %>/><label for="how-exact">exact</label>
			<input type="checkbox" name="how" id="how-partial" <%= value_how['partial'] %>/><label for="how-partial">partial</label>
			<input type="checkbox" name="how" id="how-similar" <%= value_how['similar'] %> disabled="disabled"/><label for="how-similar">similar</label>
		</div>
	</fieldset>
</form>

<%-# Licensed under the ISC licence, see LICENCE.ISC for details -%>
