- content_for(:title, 'Cologne Digital Sanskrit Dictionaries (search)')

%h1 Cologne Digital Sanskrit Dictionaries

= form_tag('/search', method: 'get') do
  %div
    = label_tag(:q, 'term:')
    = text_field_tag(:q, @query[:term])
    - iscripts = options_for_select([['SLP1', :spl1], ['Harvad-Kyoto', :hk], ['Devanagari', :devanagari]])
    = select_tag(:iscript, iscripts)
  %div
    = label_tag(:dict, 'dictionary')
    - dicts = options_for_select([['Monierr-Williams Sanskrit-English', :monier], ['Boehtlingk & Roth Sanskrit-German', :pwg], ['Apte English-Sanskrit', :aptees1]])
    = select_tag(:dict, dicts, multiple: true)
  %div
    = label_tag(:oscript, 'output script')
    - oscripts = options_for_select([['Devanagari only', :devanagari], ['Devanagari + SLP1', :spl1], ['Devanagari + Harvad-Kyoto', :hk]])
    = select_tag(:oscript, oscripts)
  %input(type='submit' value='Search')

- if !@results[:exact].all? { |dict, results| results.empty? }
  %section.results.exact
    %h2 Exact matches
    %details
      - total_results = @results[:exact].map { |d,r| r.count }.inject(&:+)
      %summary= "#{total_results} results"
      - @results[:exact].each do |dict, results|
        %p= "#{results.count} results in #{dict.handle}"
    - @results[:exact].each do |dict, exact_results|
      %div
        %p= "Matches in #{dict.handle}"
        - exact_results.each do |exact_result|
          = render 'entry', :lemma => exact_result
    %h3 Adjacent lemmas
    %ul.adjacent
      - @results[:preceding].each do |dict, prec_results|
        - prec_results.each do |prec_result|
          = render 'adjacent_entry', :lemma => prec_result
      %li.term= "#{@query[:term]}"
      - @results[:following].each do |dict, follow_results|
        - follow_results.each do |follow_result|
          = render 'adjacent_entry', :lemma => follow_result

- if !@results[:similar].empty?
  %section.results.similar
    %h2 Similar matches
    %details
      - total_results = @results[:similar].map { |d,r| r.count }.inject(&:+)
      %summary= "#{total_results} results"
      - @results[:similar].each do |dict, results|
        %p= "#{results.count} results in #{dict.handle}"
    - @results[:similar].each do |dict, similar_results|
      %div
        %p= "Matches in #{dict.handle}"
        %ul
          - similar_results.each do |similar_result|
            = render 'similar_entry', :lemma => similar_result
