- content_for(:title, 'Cologne Digital Sanskrit Dictionaries (search)')

%h1 Cologne Digital Sanskrit Dictionaries

= render 'search_form'

%section.results.exact
  %h2 Exact matches
  %details
    - total_results = @results[:exact].map { |d,r| r.count }.inject(&:+) || 0
    %summary= "#{total_results} results"
    - @results[:exact].each do |dict, results|
      %p= "#{results.count} results in #{dict.handle}"
  - @results[:exact].each do |dict, exact_results|
    %div
      %p= "Matches in #{dict.handle}"
      - exact_results.each do |exact_result|
        = render 'entry', :lemma => exact_result # use entry as variable

%section.results.inside-definition
  %h2 Inside definitions
  %details
    - total_results = @results[:inside_defs].map { |d,r| r.count }.inject(&:+) || 0
    %summary= "#{total_results} results"
    - @results[:inside_defs].each do |dict, results|
      %p= "#{results.count} results in #{dict.handle}"
  - @results[:inside_defs].each do |dict, results_inside_defs|
    %div
      %p= "Matches in #{dict.handle}"
      - results_inside_defs.each do |result_inside_defs|
        = render 'match_inside_def', :entry_bundle => result_inside_defs

%h3 Adjacent lemmas (FIXME: disabled)
-#    %ul.adjacent
-#      - @results[:preceding].each do |dict, prec_results|
-#        - prec_results.each do |prec_result|
-#          = render 'adjacent_entry', :lemma => prec_result
-#      %li.term= "#{@query[:term]}"
-#      - @results[:following].each do |dict, follow_results|
-#        - follow_results.each do |follow_result|
-#          = render 'adjacent_entry', :lemma => follow_result

- if !@results[:similar].empty?
  = render 'similar_entries', :similar_entries => @results[:similar]

-# Licensed under the ISC licence, see LICENCE.ISC for details
