- content_for(:title, 'Cologne Sanskrit Lexicon (search)')

%h1 Cologne Sanskrit Lexicon

= render 'search_form'

%section.results.exact.inside-lemma
  %h2 Exact matches (in lemmas)
  %details
    - total_results = @results[:exact_lemma].map { |d,r| r.count }.inject(&:+) || 0
    %summary= "#{total_results} results"
    - @results[:exact_lemma].each do |dict, results|
      %p= "#{results.count} results in #{dict.handle}"
  - @results[:exact_lemma].each do |dict, exact_results|
    %div
      %p= "Matches in #{dict.handle}"
      - exact_results.each do |exact_result|
        = render 'entry', :lemma => exact_result # use entry as variable

%section.results.exact.inside-definition
  %h2 Exact matches (in definitions)
  %details
    - total_results = @results[:exact_definition].map { |d,r| r.count }.inject(&:+) || 0
    %summary= "#{total_results} results"
    - @results[:exact_definition].each do |dict, results|
      %p= "#{results.count} results in #{dict.handle}"
  - @results[:exact_definition].each do |dict, exact_results|
    %div
      %p= "Matches in #{dict.handle}"
      - exact_results.each do |exact_result|
        = render 'entry', :lemma => exact_result # use entry as variable

%section.results.partial.inside-lemma
  %h2 Partial matches (in lemmas)
  %details
    - total_results = @results[:partial_lemma].map { |d,r| r.count }.inject(&:+) || 0
    %summary= "#{total_results} results"
    - @results[:partial_lemma].each do |dict, results|
      %p= "#{results.count} results in #{dict.handle}"
  - @results[:partial_lemma].each do |dict, partial_results|
    %div
      %p= "Matches in #{dict.handle}"
      - partial_results.each do |partial_result|
        = render 'partial_entry', :lemma => partial_result # use entry as variable

%section.results.partial.inside-definition
  %h2 Partial matches (in definitions)
  %details
    - total_results = @results[:partial_definition].map { |d,r| r.count }.inject(&:+) || 0
    %summary= "#{total_results} results"
    - @results[:partial_definition].each do |dict, results|
      %p= "#{results.count} results in #{dict.handle}"
  - @results[:partial_definition].each do |dict, partial_results|
    %div
      %p= "Matches in #{dict.handle}"
      - partial_results.each do |partial_result|
        = render 'partial_entry', :lemma => partial_result # use entry as variable

- if !@results[:similar].empty?
  = render 'similar_entries', :similar_entries => @results[:similar]

-# Licensed under the ISC licence, see LICENCE.ISC for details
