%dl.entry
  %dt.lemma{"xml:lang" => "san-Deva"}
    %a{:href => "/lemma/#{result[:lemma]}"}
      %dfn
        = result[:lemma]
  - result[:transliterations].each do |method, string|
    %dt.transliteration{"xml:lang" => "san-Latn"}
      - transliterated = result[:transliterations][method]
      %a{:href => "/lemma/#{transliterated}?iscript=#{method}"}
        = transliterated
  - result[:senses].each do |sense|
    %dd.sense= sense
  %pre
    %code=result[:raw]
