<h1>Cologne Sanskrit Lexicon</h1>

<% @num_entries = Dictionary.all.map(&:lemmas_count).reduce(&:+) %>
<p>Search <%= number_with_delimiter(@num_entries) %> entries in the largest online Sanskrit lexicon.</p>

<section>
	<h2>Search</h2>

	<% @query = SearchController.query_from_params %>
	<%= render 'search/search_form'  %>
</section>

<div id="project-info">
	<section id="dictionaries">
		<img src="<%= image_url('dictionaries.png') %>"/>
		<h2>The dictionaries</h2>
		<p>FIXME: some words about the dictionaries.</p>
	</section>

	<section id="people">
		<img src="<%= image_url('people.png') %>"/>
		<h2>The people</h2>
		<p>FIXME: some words about the people.</p>
	</section>

	<section id="resources">
		<img src="<%= image_url('resources.png') %>"/>
		<h2>Other resources</h2>
		<p>FIXME: some links to the other parts of the site.</p>
	</section>
</div>

<%-# Licensed under the ISC licence, see LICENCE.ISC for details -%>
