!!! 5
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title= yield(:title)
    = stylesheet_link_tag("application")
    = javascript_include_tag("application")
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    = render 'layouts/messages'
    %main
      = yield
    = render 'layouts/footer'

-# Licensed under the ISC licence, see LICENCE.ISC for details
